@using FreakyFashion.Components
@model BasketTableViewModel

<!--BasketTable-->
<table class="table table-borderless">
    <thead class="text-secondary fs-6">
        <tr>
            <th scope="col"></th>
            <th class="text-center" scope="col">Antal</th>
            <th class="text-center" scope="col">Totalt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var basketRow in Model.BasketRows)
        {
            <tr>
                <td>@basketRow.Name</td>
                <td class="text-center">@basketRow.Quantity</td>
                <td class="text-center">@basketRow.Price</td>
            </tr>
        }
    </tbody>
</table>