<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="210ba76f-d87f-4fba-b60d-0b12cf6641c3" Alias="basketPage" Level="2">
  <Info>
    <Name>Basket Page</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="acd3299d-1e6f-423f-bd41-288e8e999b57">sEOProperties</Composition>
    </Compositions>
    <DefaultTemplate>BasketPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="baf0f94f-34ea-45f1-bb3f-6bb95672455b">BasketPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>