<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4286c58e-bab9-4d1e-afe6-1ecee6ab1efe" Alias="checkoutPage" Level="2">
  <Info>
    <Name>Checkout Page</Name>
    <Icon>icon-credit-card color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="acd3299d-1e6f-423f-bd41-288e8e999b57">sEOProperties</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35a392de-51ea-4788-a129-086fe2ad3c46">CheckoutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>