<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e25186d6-7e4f-4640-905f-c8f80dba91c5" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d3bcb697-c6ea-45f5-9f48-81d04ac6abd8">heroProperties</Composition>
      <Composition Key="8033bec6-a68e-4288-8036-264063a74b7a">popularProductsProperties</Composition>
      <Composition Key="ec1bb1a8-9dd1-4cb9-b2e5-2383a6709951">spotsProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4480563-056d-4733-bd70-043620d89fd0">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7fbafe49-0689-4b95-93bb-3c5a6bf7495b" SortOrder="0">popularProductsList</ContentType>
    <ContentType Key="a903c653-217b-4934-a628-2a3642bffa17" SortOrder="1">searchProductPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>