<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9392ae5f-da5d-4b01-96fc-a8b2eefb2028" Alias="myAccountPage" Level="2">
  <Info>
    <Name>My Account Page</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>MyAccountPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8e36466f-d1ca-4d55-8a69-f182b2175891">MyAccountPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>