<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8033bec6-a68e-4288-8036-264063a74b7a" Alias="popularProductsProperties" Level="2">
  <Info>
    <Name>Popular Products Properties</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a812b503-f51c-4168-925d-96a4b6ee0c41</Key>
      <Name>Title</Name>
      <Alias>popularProductsTitle</Alias>
      <Definition>2c196c56-4974-4746-8667-5dd50284a086</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter title for popular products]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="popularProducts">Popular Products</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5832f0ed-1c45-4dec-ac36-7330fa2939b7</Key>
      <Caption>Popular Products</Caption>
      <Alias>popularProducts</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>