<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec1bb1a8-9dd1-4cb9-b2e5-2383a6709951" Alias="spotsProperties" Level="2">
  <Info>
    <Name>Spots Properties</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bbda7411-0f4b-42ed-92ec-347f6ba12586</Key>
      <Name>Content</Name>
      <Alias>spotsContent</Alias>
      <Definition>bd48647f-38ba-419c-b923-d19da230e6c1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Create up to three spots for display]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spots">Spots</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ec6fe1e-a633-4fda-97f8-e79df2ef8a23</Key>
      <Caption>Spots</Caption>
      <Alias>spots</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>