@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ISEoproperties>

@{
    var siteSettingsContent = Umbraco.ContentAtRoot().DescendantsOrSelf<SiteSettings>().FirstOrDefault();
}

@if (!string.IsNullOrEmpty(siteSettingsContent.SiteSettingsTitle))
{
    <title>@Model.Title - @siteSettingsContent.SiteSettingsTitle</title>
} else {
    <title>@Model.Title</title>
}
@if (Model.Description != null){
    <meta name="description" content="@Model.Description">
}