@using FreakyFashion.Components
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BasketPage>

@{
    Layout = "Main.cshtml";
    var checkoutPage = Umbraco.AssignedContentItem.Root().DescendantOrSelf<CheckoutPage>();
}

<div class="py-5">
    <h1 class="display-5 fw-bold lh-1 mb-3">Kassan</h1>
    @await Component.InvokeAsync(nameof(BasketTable))
    <a href="@checkoutPage.Url()" class="btn btn-primary mt-3">Checkout</a>
</div>


