@using FreakyFashion.Components
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutPage>

@{
    Layout = "Main.cshtml";
}

<div class="py-5">

    @if(TempData["FormSuccess"] == null)
    {
        <h1 class="display-5 fw-bold lh-1 mb-3">Utcheckning</h1>
        @await Component.InvokeAsync(nameof(BasketTable))

        <h2 class="display-6 lh-1 mb-3">Kunduppgifter</h2>
        @await Component.InvokeAsync(nameof(CheckoutForm))
    }
    else
    {
        <h1 class="display-5 fw-bold lh-1 mb-3">Tack för ordern!</h1>
    }
</div>