@using FreakyFashion.Components
@using FreakyFashion.Services

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MyAccountPage>
@inject ICustomMemberService customMemberService;

@{
    Layout = "Main.cshtml";
    var member = customMemberService.GetLoggedInMember();
}



<div class="py-5">
    @if(member?.Name != null){
    <h1 class="display-6 fw-bold lh-1 mb-3 mb-5 text-center">@member.Name</h1>
    <h2 class="fs-3 lh-1 mb-3">Mina ordrar</h2>
    <hr />
    @await Component.InvokeAsync(nameof(OrderTable))
    }
</div>



