@using FreakyFashion.Components
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchPage>


@{
    Layout = "Main.cshtml";
}

<div class="pt-5">
    @await Component.InvokeAsync(nameof(SearchResult))
</div>