<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0700bee0-dde0-4251-8ffc-6bd7b4fcaaa9" Alias="Hero - Call To Action - Multi URL Picker" Level="1">
  <Info>
    <Name>Hero - Call To Action - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>