<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="[ImageCropper] Product Image" Level="1">
  <Info>
    <Name>[ImageCropper] Product Image</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Main",
      "height": 670,
      "width": 900
    },
    {
      "alias": "Thumb",
      "height": 345,
      "width": 450
    }
  ]
}]]></Config>
</DataType>