<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c196c56-4974-4746-8667-5dd50284a086" Alias="[TextBox] Max 25 char" Level="1">
  <Info>
    <Name>[TextBox] Max 25 char</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>