<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6d14d4d-af30-402b-a84f-44dfd4599063" Alias="[URLPicker] Single URL" Level="1">
  <Info>
    <Name>[URLPicker] Single URL</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>