<?xml version="1.0" encoding="utf-8"?>
<Content Key="85754884-c73b-4c61-8120-5dca6bc17a0d" Alias="Anna" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Anna</Path>
    <Trashed Parent="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0">true</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-11-09T14:59:25</CreateDate>
    <NodeName Default="Anna" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19bbbc32-9c2d-487c-8bd0-efcf96614c6c">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Anna]]></Value>
    </description>
    <productDescription>
      <Value><![CDATA[Kuk i lådan]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "433c951a-4632-4dcd-b7cf-3b5f0d55cc65",
    "mediaKey": "1acebb8a-2ab2-45d4-a1b6-6cdcc8cdd445"
  }
]]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[15]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Anna]]></Value>
    </productTitle>
    <title>
      <Value><![CDATA[Anna]]></Value>
    </title>
  </Properties>
</Content>