<?xml version="1.0" encoding="utf-8"?>
<Content Key="91720c40-c489-4127-817b-d329d2f2984a" Alias="Anna (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Anna1</Path>
    <Trashed Parent="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0">true</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-11-09T18:08:42</CreateDate>
    <NodeName Default="Anna (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19bbbc32-9c2d-487c-8bd0-efcf96614c6c">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem Ipsum Dolor]]></Value>
    </description>
    <productDescription>
      <Value><![CDATA[En kopp te i lådan]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[umb://media/1acebb8a2ab245d4a1b66cdcc8cdd445]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[15]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Anna]]></Value>
    </productTitle>
    <title>
      <Value><![CDATA[Anna]]></Value>
    </title>
  </Properties>
</Content>