<?xml version="1.0" encoding="utf-8"?>
<Content Key="03ccade2-1e00-418f-affb-1154136d53e0" Alias="Hem" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hem</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-10-31T13:19:27</CreateDate>
    <NodeName Default="Hem" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4480563-056d-4733-bd70-043620d89fd0">HomePage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur.]]></Value>
    </description>
    <heroButtonText>
      <Value><![CDATA[CTA]]></Value>
    </heroButtonText>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8e1cabb3-e9de-41d4-9b97-aeb4486cb26c",
    "mediaKey": "d6004179-5b9e-4e55-acad-0c7b69e40fcf"
  }
]]]></Value>
    </heroImage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "#",
    "url": "#"
  }
]]]></Value>
    </heroLink>
    <heroMessage>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur
adipisicing elit, sed do eiusmod tempor incididunt

ut labore et dolore magna aliqua.]]></Value>
    </heroMessage>
    <heroTitle>
      <Value><![CDATA[Lorem ipsum dolor]]></Value>
    </heroTitle>
    <navigationLinks>
      <Value><![CDATA[[
  {
    "name": "Hem",
    "udi": "umb://document/03ccade21e00418faffb1154136d53e0"
  },
  {
    "name": "Rea",
    "url": "#"
  },
  {
    "name": "Dam",
    "url": "#"
  },
  {
    "name": "Herr",
    "url": "#"
  }
]]]></Value>
    </navigationLinks>
    <popularProductsTitle>
      <Value><![CDATA[Populära produkter]]></Value>
    </popularProductsTitle>
    <spotsContent>
      <Value><![CDATA[[
  {
    "key": "c3a2b8b3-d04e-4556-bee8-ee262bd138cb",
    "name": "Item 1",
    "ncContentTypeAlias": "spotElement",
    "PropType": null,
    "spotElementTitle": "Roach",
    "spotElementImage": "[\r\n  {\r\n    \"key\": \"a2398a77-fe1b-4087-bb6e-8f29f90e46f3\",\r\n    \"mediaKey\": \"1acebb8a-2ab2-45d4-a1b6-6cdcc8cdd445\"\r\n  }\r\n]",
    "spotElementLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
  },
  {
    "key": "6d2e760f-2873-433a-840c-a0df0d3c7355",
    "name": "Item 2",
    "ncContentTypeAlias": "spotElement",
    "PropType": null,
    "spotElementTitle": "Very Very Roach",
    "spotElementImage": "[\r\n  {\r\n    \"key\": \"54b78450-7d37-4065-8099-59e3fce528a2\",\r\n    \"mediaKey\": \"d6004179-5b9e-4e55-acad-0c7b69e40fcf\"\r\n  }\r\n]",
    "spotElementLink": "[{\"name\":\"Svart T-Shirt\",\"udi\":\"umb://document/93acf8412fd04ac3974ac8cfd104c1fc\"}]"
  },
  {
    "key": "5d2d02d1-a25b-417a-8b67-642dd2d2a63d",
    "name": "Item 3",
    "ncContentTypeAlias": "spotElement",
    "PropType": null,
    "spotElementTitle": "Very Roach",
    "spotElementImage": "[\r\n  {\r\n    \"key\": \"79a9780e-ff1c-4e22-a3c5-c44ee6c36a72\",\r\n    \"mediaKey\": \"1acebb8a-2ab2-45d4-a1b6-6cdcc8cdd445\"\r\n  }\r\n]",
    "spotElementLink": "[{\"name\":\"#\",\"url\":\"#\"}]"
  }
]]]></Value>
    </spotsContent>
    <title>
      <Value><![CDATA[Hem]]></Value>
    </title>
  </Properties>
</Content>