<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4c7b101-72ed-4669-af4d-cbb5ffe50c62" Alias="Konto" Level="2">
  <Info>
    <Parent Key="03ccade2-1e00-418f-affb-1154136d53e0">Hem</Parent>
    <Path>/Hem/Konto</Path>
    <Trashed>false</Trashed>
    <ContentType>myAccountPage</ContentType>
    <CreateDate>2022-11-04T21:26:39</CreateDate>
    <NodeName Default="Konto" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e36466f-d1ca-4d55-8a69-f182b2175891">MyAccountPage</Template>
  </Info>
  <Properties />
</Content>