<?xml version="1.0" encoding="utf-8"?>
<Content Key="366ff150-f6ee-47eb-85c8-bd9e75e7e4e9" Alias="Lila T-Shirt" Level="3">
  <Info>
    <Parent Key="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0">Produkter</Parent>
    <Path>/Hem/Produkter/LilaTShirt</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-11-09T18:38:21</CreateDate>
    <NodeName Default="Lila T-Shirt" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19bbbc32-9c2d-487c-8bd0-efcf96614c6c">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem Ipsum Dolor]]></Value>
    </description>
    <productDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[umb://media/1acebb8a2ab245d4a1b66cdcc8cdd445]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[499]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Lila T-Shirt]]></Value>
    </productTitle>
    <title>
      <Value><![CDATA[Lila T-Shirt]]></Value>
    </title>
  </Properties>
</Content>