<?xml version="1.0" encoding="utf-8"?>
<Content Key="fad76426-b21f-459c-b473-4cc00fc3995c" Alias="Login" Level="2">
  <Info>
    <Parent Key="03ccade2-1e00-418f-affb-1154136d53e0">Hem</Parent>
    <Path>/Hem/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2022-11-04T21:26:23</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f2ff3469-92e5-4901-9af8-3f205f40ff6f">LoginPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur.]]></Value>
    </description>
    <title>
      <Value><![CDATA[Inloggning]]></Value>
    </title>
  </Properties>
</Content>