<?xml version="1.0" encoding="utf-8"?>
<Content Key="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0" Alias="Produkter" Level="2">
  <Info>
    <Parent Key="03ccade2-1e00-418f-affb-1154136d53e0">Hem</Parent>
    <Path>/Hem/Produkter</Path>
    <Trashed>false</Trashed>
    <ContentType>popularProductsList</ContentType>
    <CreateDate>2022-11-04T00:33:49</CreateDate>
    <NodeName Default="Produkter" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>