<?xml version="1.0" encoding="utf-8"?>
<Content Key="aec2cb79-d94f-4c5b-8818-6bb394c186ee" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2022-11-03T23:56:57</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <siteSettingsTitle>
      <Value><![CDATA[FreakyFashion]]></Value>
    </siteSettingsTitle>
  </Properties>
</Content>