<?xml version="1.0" encoding="utf-8"?>
<Content Key="152c052d-94a0-41dd-87c4-d5de507feb60" Alias="Sök" Level="2">
  <Info>
    <Parent Key="03ccade2-1e00-418f-affb-1154136d53e0">Hem</Parent>
    <Path>/Hem/Soek</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2022-11-04T10:55:05</CreateDate>
    <NodeName Default="Sök" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ffb55564-5661-42c4-81f5-7ddf96262229">SearchPage</Template>
  </Info>
  <Properties>
    <test>
      <Value><![CDATA[]]></Value>
    </test>
  </Properties>
</Content>