<?xml version="1.0" encoding="utf-8"?>
<Content Key="93acf841-2fd0-4ac3-974a-c8cfd104c1fc" Alias="Svart T-Shirt" Level="3">
  <Info>
    <Parent Key="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0">Produkter</Parent>
    <Path>/Hem/Produkter/SvartTShirt</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-11-04T01:03:53</CreateDate>
    <NodeName Default="Svart T-Shirt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19bbbc32-9c2d-487c-8bd0-efcf96614c6c">ProductPage</Template>
  </Info>
  <Properties>
    <productDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur.]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "2176cfde-acf6-498b-b31b-3f07a77ac181",
    "mediaKey": "1acebb8a-2ab2-45d4-a1b6-6cdcc8cdd445"
  }
]]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[249]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Svart T-Shirt]]></Value>
    </productTitle>
  </Properties>
</Content>