<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d319ca8-43b9-48d0-bdf3-454690c6e9c8" Alias="Test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test1</Path>
    <Trashed Parent="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0">true</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-11-09T00:27:58</CreateDate>
    <NodeName Default="Test (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="19bbbc32-9c2d-487c-8bd0-efcf96614c6c">ProductPage</Template>
  </Info>
  <Properties>
    <productDescription>
      <Value><![CDATA[test]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[1000]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Test]]></Value>
    </productTitle>
  </Properties>
</Content>