<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1c9375e-c0ed-4a9d-8736-b8b36c98b0a6" Alias="Test" Level="3">
  <Info>
    <Parent Key="af7cdd4e-7aad-42e9-8f29-3e82b75dd3a0">Produkter</Parent>
    <Path>/Hem/Produkter/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-11-09T00:32:53</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="19bbbc32-9c2d-487c-8bd0-efcf96614c6c">ProductPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Test]]></Value>
    </description>
    <productDescription>
      <Value><![CDATA[test]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "33f88a7e-7fce-4735-a6e7-019c7cfa8eab",
    "mediaKey": "1acebb8a-2ab2-45d4-a1b6-6cdcc8cdd445"
  }
]]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[1000]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Test]]></Value>
    </productTitle>
    <title>
      <Value><![CDATA[Test]]></Value>
    </title>
  </Properties>
</Content>