<?xml version="1.0" encoding="utf-8"?>
<Content Key="38f9c8cc-6673-4ebf-b415-5f61af783f09" Alias="Utcheckning" Level="2">
  <Info>
    <Parent Key="03ccade2-1e00-418f-affb-1154136d53e0">Hem</Parent>
    <Path>/Hem/Utcheckning</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPage</ContentType>
    <CreateDate>2022-11-04T21:25:43</CreateDate>
    <NodeName Default="Utcheckning" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35a392de-51ea-4788-a129-086fe2ad3c46">CheckoutPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur.]]></Value>
    </description>
    <title>
      <Value><![CDATA[Utcheckning]]></Value>
    </title>
  </Properties>
</Content>