<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8ee014c-610a-488b-8fa5-7c71399db12d" Alias="Varukorg" Level="2">
  <Info>
    <Parent Key="03ccade2-1e00-418f-affb-1154136d53e0">Hem</Parent>
    <Path>/Hem/Varukorg</Path>
    <Trashed>false</Trashed>
    <ContentType>basketPage</ContentType>
    <CreateDate>2022-11-04T21:25:29</CreateDate>
    <NodeName Default="Varukorg" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="baf0f94f-34ea-45f1-bb3f-6bb95672455b">BasketPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur.]]></Value>
    </description>
    <title>
      <Value><![CDATA[Varukorgen]]></Value>
    </title>
  </Properties>
</Content>